*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*                          container           Header                */
.containerHeader{
    width: 100%;
    height: 100px;
    background-color: rgb(17, 87, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHeader > .subcontainerHeader{
    width: 98%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subcontainerHeader > .containerLogoHeader{
    width: 20%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerLogoHeader > .imgHeader{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
}
.subcontainerHeader > .containerTittleHeader{
    width: 46%;
    height: 4.5rem;
    display: flex;
    align-items: center;
}
.containerTittleHeader > .tittleHeader{
    font-size: 1.5rem;
}
.subcontainerHeader > .containerMenuHeader{
    width: 30%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLink{
    list-style: none;
}
.containerLink > a{
    color: burlywood;
}

/*                                     Container Body                   */
.containerBody{
    width: 100%;
    height: 5000px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainerBody{
    width: 98%;
    height: 4990px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.subcontainerBody > .containerSliderBody{
    width: 90%;
    height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.containerSliderBody > .containerImgSlider{
    width: 98%;
    height: 290px;
    background-color: antiquewhite;
    display: flex;
    animation: cambio 16s infinite;
}
.containerImgSlider > .imgSliderBody{
    width: 24.7rem;
    height: 18rem;
}
@keyframes cambio
{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -230%;} /*distancia para que aparezca la otra img*/
    45%{margin-left: -230%;} /*distancia para la muestre toda la img*/

    50%{margin-left: -460%;}
    70%{margin-left: -460%;}

    75%{margin-left: -680%;}
    100%{margin-left: -680%;}
}