*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*                          container           Header                */
.containerBodyWe {
    width: 100%;
    height: 385px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.containerBodyWe > .containerbodyImg{
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerbodyImg > .imgHistory{
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
}
.containerBodyWe > .containerHistoryBody{
    width: 90%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 430px) and (min-height: 932px) {
    /*                          container Body nosotros                */
.containerBodyWe {
    width: 100%;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.containerBodyWe > .containerbodyImg{
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbodyImg > .imgHistory{
    width: 15rem;
    height: 15rem;
    border-radius: 50rem;
}
.containerBodyWe > .containerHistoryBody{
    width: 90%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}